<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303489199214-mooq6ofdcrfn6ht35vrv36enda6um7kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303489199214-mooq6ofdcrfn6ht35vrv36enda6um7kt</string>
	<key>API_KEY</key>
	<string>AIzaSyBY0_EdE3WQdREazccdxBZmTejUzR2OMww</string>
	<key>GCM_SENDER_ID</key>
	<string>303489199214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-827af</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-827af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303489199214:ios:24e539eda36f06f9884a7f</string>
</dict>
</plist>